	<!-- header section -->
	<header class="header">
		<div class="container">
			<div class="logo_menu">
				<div class="logoDiv">
					<a href="#" title="Smart Tool"><img src="../assets/images/logo.svg" alt=""></a>
				</div>
				<ul class="headermenuList">
					<li><a href="#solutionSection" title="Solutions">Solutions</a></li>
					<li><a href="#featuresSec" title="Features">Features</a></li>
					<li><a href="#howitworks" title="How it Works">How it Works</a></li>
					<li><a href="#pricingSec" title="Pricing Contact">Pricing Contact</a></li>
					<li><a href="#" title="Menu" class="menuSmall">Menu</a></li>
				</ul>
				<div class="toggle_mobile"><span></span></div>
			</div>
		</div>
	</header>
	<!-- header section -->

	<!-- fix menu section -->
	<div class="fix_menu">
		<div class="closeMenu"><img src="../assets/images/close.svg"></div>
		<ul>
			<li><a href="#" title="About us">About us</a></li>
			<li><a href="#" title="Solutions">Solutions</a></li>
			<li><a href="#" title="Features">Features</a></li>
			<li><a href="#" title="How it Works">How it Works</a></li>
			<li><a href="#" title="Pricing Contact">Pricing Contact</a></li>
		</ul>
	</div>
	<!-- fix menu section -->