<section id="howitworks" class="howitworks comPadding">
	<div class="container">
		<div class="title_with_detail">
			<div class="comTitle">How it Works?</div>
			<p class="title_detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis.</p>
		</div>
		<div class="howBlocksSection">
			<div class="howitBoxes">
				<div class="topDiv">

					<div class="howImage"><p class="count">01</p><img src="../../assets/images/how_image_1.svg" class="svgImg" alt=""></div>
				</div>
				<div class="bottomDiv">
					<p class="howTitle">Perspiciatis unde sed</p>
					<p class="how_description">Lorem ipsum dolor sit amet, lorem mistawken consectetur adipiscing elit, sed do eiusmweod tempor incididunt ut amet labore.</p>
				</div>
			</div>
			<div class="howitBoxes">
				<div class="topDiv">
					<div class="howImage">
						<p class="count">02</p>
						<img src="../../assets/images/how_image_2.svg" class="svgImg" alt="">
					</div>
				</div>
				<div class="bottomDiv">
					<p class="howTitle">Accusantium doloremque</p>
					<p class="how_description">Lorem ipsum dolor sit amet, lorem mistawken consectetur adipiscing elit, sed do eiusmweod tempor incididunt ut amet labore.</p>
				</div>
			</div>
			<div class="howitBoxes">
				<div class="topDiv">
					<div class="howImage"><p class="count">03</p><img src="../../assets/images/how_image_3.svg" class="svgImg" alt=""></div>
				</div>
				<div class="bottomDiv">
					<p class="howTitle">Perspiciatis unde sed</p>
					<p class="how_description">Lorem ipsum dolor sit amet, lorem mistawken consectetur adipiscing elit, sed do eiusmweod tempor incididunt ut amet labore.</p>
				</div>
			</div>
			<div class="howitBoxes">
				<div class="topDiv">
					<div class="howImage"><p class="count">04</p><img src="../../assets/images/how_image_4.svg" class="svgImg" alt=""></div>
				</div>
				<div class="bottomDiv">
					<p class="howTitle">Accusantium doloremque</p>
					<p class="how_description">Lorem ipsum dolor sit amet, lorem mistawken consectetur adipiscing elit, sed do eiusmweod tempor incididunt ut amet labore.</p>
				</div>
			</div>
		</div>
	</div>
</section>