<section class="clientsSec comPadding">
	<div class="container">
		<div class="comTitle">Our Clients</div>
		<ul class="clientLogos">
			<li><img src="../../assets/images/google.svg" class="svgImg" alt=""></li>
			<li><img src="../../assets/images/dropbox.svg" class="svgImg" alt=""></li>
			<li><img src="../../assets/images/uber.svg" class="svgImg" alt=""></li>
			<li><img src="../../assets/images/p&g.svg" class="svgImg" alt=""></li>
			<li><img src="../../assets/images/mac_donald.svg" class="svgImg" alt=""></li>
			<li><img src="../../assets/images/slack.svg" class="svgImg" alt=""></li>
			<li><img src="../../assets/images/stripe.svg" class="svgImg" alt=""></li>
			<li><img src="../../assets/images/airbnb.svg" class="svgImg" alt=""></li>
			<li><img src="../../assets/images/nike.svg" class="svgImg" alt=""></li>
			<li><img src="../../assets/images/linkedin.svg" class="svgImg" alt=""></li>
		</ul>
		<div class="testimonials">
			<div class="testimonial_slider">
				<div class="testimonialBox">
					<p class="testimonial_text">These guys are real professionals. <br />Undoubtedly!</p>
					<div class="customerInfo">
						<img src="../../assets/images/customer-1.png" alt="">
						<div class="customerName">Johnson Doe</div>
						<div class="customer_position">Creative Director, Artmedia</div>
					</div>
				</div>
				<div class="testimonialBox">
					<p class="testimonial_text">These guys are real professionals. <br />Undoubtedly!</p>
					<div class="customerInfo">
						<img src="../../assets/images/customer-1.png" alt="">
						<div class="customerName">Johnson Doe</div>
						<div class="customer_position">Creative Director, Artmedia</div>
					</div>
				</div>
				<div class="testimonialBox">
					<p class="testimonial_text">These guys are real professionals. <br />Undoubtedly!</p>
					<div class="customerInfo">
						<img src="../../assets/images/customer-1.png" alt="">
						<div class="customerName">Johnson Doe</div>
						<div class="customer_position">Creative Director, Artmedia</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>