<section id="contactUsSection" class="contactUsSection comPadding">
	<div class="container">
		<div class="title_with_detail">
			<div class="comTitle">Contact Us</div>
			<p class="title_detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
		</div>
		<div class="contactbox">
			<div class="contactDiv">
				<img src="../../assets/images/call.svg" alt="">
				<div class="contactDetail">
					<span>+30 226 4881 514</span>
					<span>+30 226 4881 515</span>
				</div>
			</div>
			<div class="contactDiv">
				<img src="../../assets/images/email.svg" alt="">
				<div class="contactDetail">
					<span><a href="mailto:info@smarttool.com">info@smarttool.com</a></span>
				</div>
			</div>
			<div class="contactDiv">
				<img src="../../assets/images/location.svg" alt="">
				<div class="contactDetail">
					<span>1722 Poplar Avenue,<br /> San Diego, California 92101.</span>
				</div>
			</div>
		</div>
	</div>
</section>