<section id="featuresSec" class="featuresSec comPadding">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12">
				<div class="comTitle">Features</div>
				<p class="feature_description">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor.
				</p>
				<ul class="featureList">
					<li>
						<div class="feature_image"><img src="../../assets/images/feature1.svg" alt=""></div>
						Sed ut perspiciatis unde
					</li>
					<li>
						<div class="feature_image"><img src="../../assets/images/feature2.svg" alt=""></div>
						Perspiciatis unde sed
					</li>
					<li>
						<div class="feature_image"><img src="../../assets/images/feature3.svg" alt=""></div>
						Perspiciatis unde sed
					</li>
					<li>
						<div class="feature_image"><img src="../../assets/images/feature4.svg" alt=""></div>
						Sed ut perspiciatis unde
					</li>
					<li>
						<div class="feature_image"><img src="../../assets/images/feature1.svg" alt=""></div>
						Sed ut perspiciatis unde
					</li>
					<li>
						<div class="feature_image"><img src="../../assets/images/feature2.svg" alt=""></div>
						Perspiciatis unde sed
					</li>
				</ul>
				<p class="feature_description">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim.
				</p>
				<div class="btnGroup">
					<button class="btn comBtn" title="Get Started">Get Started</button>
					<button class="btn comBtn light" title="Learn More">Learn More</button>
				</div>
			</div>
			<div class="col-lg-6 col-sm-6 col-xs-12 removeFromIpad">
				<div class="main_feature_image"><img src="../../assets/images/feature_image.png" alt="" title="Features"></div>
			</div>
		</div>
	</div>
</section>