<section id="pricingSec" class="pricingSec comPadding">
	<div class="container">
		<div class="title_with_detail">
			<div class="comTitle">Pricing Plans</div>
			<p class="title_detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis.</p>
		</div>
		<div class="pricingList">
			<div class="priceBox">
				<p class="title">Beginner</p>
				<p class="price">$18<span>/ mo</span></p>
				<p class="infoPricing">
					Lorem ipsum dolor sit amet, lorem mistawken consectetur adipiscing elit, sed do eiusmweod tempor incididunt ut amet labore consectetur adipiscing elit.
				</p>
				<ul class="pricingPoints">
					<li>1 Free Domain</li>
					<li>E-mail Support</li>
					<li>Web & Mobile App</li>
					<li>10 GB Storage</li>
					<li class="notApplicable">CRM Integration</li>
					<li class="notApplicable">All New Updates</li>
				</ul>
				<button class="btn trans comBtn" title="Get Started">Get Started</button>
			</div>
			<div class="priceBox professional">
				<span class="popular">popular</span>
				<p class="title">Professional</p>
				<p class="price">$38<span>/ mo</span></p>
				<p class="infoPricing">
					Lorem ipsum dolor sit amet, lorem mistawken consectetur adipiscing elit, sed do eiusmweod tempor incididunt ut amet labore consectetur adipiscing elit.
				</p>
				<ul class="pricingPoints">
					<li>1 Free Domain</li>
					<li>24/7 Support</li>
					<li>Web & Mobile App</li>
					<li>Unlimited Storage</li>
					<li>CRM Integration</li>
					<li class="notApplicable">All New Updates</li>
				</ul>
				<button class="btn trans comBtn" title="Get Started">Get Started</button>
			</div>
			<div class="priceBox">
				<p class="title">Expert</p>
				<p class="price">$58<span>/ mo</span></p>
				<p class="infoPricing">
					Lorem ipsum dolor sit amet, lorem mistawken consectetur adipiscing elit, sed do eiusmweod tempor incididunt ut amet labore consectetur adipiscing elit.
				</p>
				<ul class="pricingPoints">
					<li>1 Free Domain</li>
					<li>24/7 Support</li>
					<li>Web & Mobile App</li>
					<li>Unlimited Storage</li>
					<li>CRM Integration</li>
					<li>All New Updates</li>
				</ul>
				<button class="btn trans comBtn" title="Get Started">Get Started</button>
			</div>
		</div>
	</div>
</section>