<section class="ourBlogs comPadding">
	<div class="container">
		<div class="title_with_detail">
			<div class="comTitle">Our Blog</div>
			<p class="title_detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis.</p>
		</div>
	</div>
	<div class="pip_gallery_new pdBottom" id="gallery">
		<div id="tumb-wrap" class="">
			<div class="handle">
				<div id="thum-list-1" class="thum_list_con" >
					<ul class="thum_list">
						<li class="type_photo first" data-type="image">
							<img src="../../assets/images/blog1.png" alt="">
							<div class="absoText">The Smarttool Agency Driving Design Innovation</div>
							<div class="date">
								<span>Sep</span>
								<span>27</span>
								<span>2019</span>
							</div>
						</li>
						<li class="type_photo first" data-type="image">
							<img src="../../assets/images/blog2.png" alt="">
							<div class="absoText">The Smarttool Agency Driving Design Innovation</div>
							<div class="date">
								<span>Sep</span>
								<span>27</span>
								<span>2019</span>
							</div>
						</li>
						<li class="type_photo first" data-type="image">
							<img src="../../assets/images/blog3.png" alt="">
							<div class="absoText">The Smarttool Agency Driving Design Innovation</div>
							<div class="date">
								<span>Sep</span>
								<span>27</span>
								<span>2019</span>
							</div>
						</li>
						<li class="type_photo first" data-type="image">
							<img src="../../assets/images/blog4.png" alt="">
							<div class="absoText">The Smarttool Agency Driving Design Innovation</div>
							<div class="date">
								<span>Sep</span>
								<span>27</span>
								<span>2019</span>
							</div>
						</li>
						<li class="type_photo first" data-type="image">
							<img src="../../assets/images/blog2.png" alt="">
							<div class="absoText">The Smarttool Agency Driving Design Innovation</div>
							<div class="date">
								<span>Sep</span>
								<span>27</span>
								<span>2019</span>
							</div>
						</li>
						<li class="type_photo first" data-type="image">
							<img src="../../assets/images/blog3.png" alt="">
							<div class="absoText">The Smarttool Agency Driving Design Innovation</div>
							<div class="date">
								<span>Sep</span>
								<span>27</span>
								<span>2019</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="slider-con" class="slider_con" ><button class="handle" >scroll</button></div>
	</div>
</section>