<section class="bannerSec">
	<div class="container">
		<a class="scrollDiv" href="#solutionSection">
			<img src="../../assets/images/mouse.png" alt="">Scroll
		</a>
		<div class="bannerSlider">
			<div class="">
				<div class="sliderBox">
					<div class="bannerInfo">
						<p class="banerText">Best practices for better design</p>
						<div class="subscribeBox">
							<input type="text" name="" class="inputField" placeholder="Enter your e-mail" />
							<button class="btn trans comBtn" title="Subscribe">Subscribe</button>
						</div>
						<p class="informativeText">Lorem ipsum dolor sit amet, lorem mistawken consectetur.</p>
					</div>
					<div class="bannerImage">
						<div class="layer1"><img src="../../assets/images/round-1.png" alt=""></div>
						<div class="layer2"><img src="../../assets/images/round-2.png" alt=""></div>
						<img src="../../assets/images/banner-1.png" alt="" data-tilt data-tilt-glare="true" data-tilt-transition="true">
					</div>
				</div>
			</div>
			<div class="">
				<div class="sliderBox">
					<div class="bannerInfo">
						<p class="banerText">Best practices for better design</p>
						<div class="subscribeBox">
							<input type="text" name="" class="inputField" placeholder="Enter your e-mail" />
							<button class="btn trans comBtn" title="Subscribe">Subscribe</button>
						</div>
						<p class="informativeText">Lorem ipsum dolor sit amet, lorem mistawken consectetur.</p>
					</div>
					<div class="bannerImage">
						<div class="layer1"><img src="../../assets/images/round-1.png" alt=""></div>
						<div class="layer2"><img src="../../assets/images/round-2.png" alt=""></div>
						<img src="../../assets/images/banner-1.png" alt="" data-tilt data-tilt-glare="true" data-tilt-transition="true">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bannerDots"></div>
</section>